<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yorijori</title>
    <link rel="stylesheet" href="/css/funding/funding_create_success.css">
</head>
<body>
    <div id="container">
        <div class="information-box">
            <div class="complete">
                펀딩 생성 완료!
            </div>
            <div class="img-box">
                <img src="/assets/image.png" class="img">
            </div>
            <div class="message">
                <p>참여 인원 도달 시 알림을 보내드려요! <br>
                    펀딩 성공까지 필요한 인원 : <span class="highlight">n명</span> <br>
                    배부 위치와 일자를 다시 한 번 확인해주세요. </p>          
            </div>
            <div class="distribution">
                <br>
                <div>배부 위치: 
                    <span><%= fundingGroup.city + ' ' + fundingGroup.district + ' ' + fundingGroup.town + ' ' + fundingGroup.detail %></span>
                </div>
                <div>배부 일자 및 시간: 
                    <span><%= fundingGroup.distributionDateFormatted %></span>
                </div>
            </div>
            <a href="/">
                <span class="button">확인</span>       
            </a>
        </div>
    </div>

    <script>
        document.querySelector('.button').addEventListener('click', async () => {
          const token = localStorage.getItem('token'); // JWT는 로그인 후 localStorage에 저장돼 있어야 함
          const productId = "<%= product.fundingProductId %>";
    
          const res = await fetch(`/`, { // 수정필요
            method: 'GET',
            headers: {
              Authorization: 'Bearer ' + token
            }
          });
    
          if (res.ok) {
            const html = await res.text();
            document.open(); // 현재 페이지 내용을 덮어씀
            document.write(html);
            document.close();
          } else {
            alert('인증에 실패했거나 권한이 없습니다.');
          }
        });
      </script>

</body>
</html>
